/* SCSS Compiled */
/***************************************************              GENERAL RESET STYLES             ***************************************************/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  height: 100%;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/*@media*/
/* @media (min-width: 1921px){} 													QHD \ UHD
@media (min-width: 1600px) and (max-width: 1919px) {}	HD +
@media (min-width: 1440px) and (max-width: 1599px) {}	macbook
@media (min-width: 1360px) and (max-width: 1439px) {}	HD
@media (min-width: 1280px) and (max-width: 1359px) {} IPAD2
@media (min-width: 1024px) and (max-width: 1279px) {} IPAD
@media (min-width: 896px) and (max-width: 1023px) {}	Ip Xs max horizontal
@media (min-width: 812px) and (max-width: 895px) {}		Ip Xs horizontal
@media (min-width: 768px) and (max-width: 811px) {}		Tablet
@media (min-width: 736px) and (max-width: 767px) {}		Ip 6,7,8 Plus horizontal
@media (min-width: 667px) and (max-width: 735px) {}		Ip 6,7,8 horizontal
@media (min-width: 568px) and (max-width: 666px) {}		Ip 5 horizontal
@media (min-width: 480px) and (max-width: 567px) {}		Ip 4 horizontal
@media (min-width: 414px) and (max-width: 479px) {}		Ip 6,7,8
@media (min-width: 320px) and (max-width: 413px) {}		Ip 4,5 */
/*@media end*/
/*usage  @include font-size(13);*/
/* Brand Colors ------------------------------------------------*/
/* wrapper */
#wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.layout {
  margin: 0 auto;
  position: relative;
  width: 1600px;
}

main {
  display: block;
  width: 100%;
  position: relative;
}

#content {
  position: relative;
}

#sidebar {
  position: relative;
}

aside {
  position: relative;
}

header {
  width: 100%;
  display: block;
  position: relative;
}

.iconstop {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  widows: 100%;
  height: 40px;
  border-bottom: 2px solid #dad5d5;
}
.iconstop ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  padding-right: 21.23%;
}
.iconstop li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
}
.iconstop li i {
  color: #333333;
  opacity: 0.5;
  font-size: 20px;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.iconstop i:hover {
  overflow: visible;
  color: #f4754e;
  opacity: 1;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navigation .logo {
  padding-left: 22.18%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 41%;
  padding-right: 7.97%;
  height: 80px;
}
.navigation ul li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
}
.navigation ul a {
  font-family: "OpenSans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.navigation ul a:hover {
  color: #f4754e;
}
.navigation ul .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 0;
  left: 0;
}
.navigation ul i {
  position: absolute;
  font-size: 20px;
  z-index: 2;
  margin: -10px 0 0px 0;
}
.navigation ul i:hover {
  color: #f4754e;
}
.navigation ul .search-1 {
  width: 10px;
  position: absolute;
  margin: -15px 0 0px 0;
  height: 24px;
  left: 24px;
  border: 2px solid #f4754e;
  opacity: 0;
  border-radius: 5px;
}
.navigation ul .search-1:hover {
  opacity: 1;
  width: 100px;
  -webkit-transition: opacity 0.5s ease-out, width 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out, width 0.5s ease-out;
  transition: opacity 0.5s ease-out, width 0.5s ease-out;
}
.navigation ul .search-1:focus {
  opacity: 1;
  width: 100px;
}
.navigation ul input::-webkit-input-placeholder {
  color: #333333;
  padding: 0 0 0 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-transform: uppercase;
  opacity: 0.5;
}
.navigation ul input::-moz-placeholder {
  color: #333333;
  padding: 0 0 0 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-transform: uppercase;
  opacity: 0.5;
}
.navigation ul input:-ms-input-placeholder {
  color: #333333;
  padding: 0 0 0 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-transform: uppercase;
  opacity: 0.5;
}
.navigation ul input::-ms-input-placeholder {
  color: #333333;
  padding: 0 0 0 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-transform: uppercase;
  opacity: 0.5;
}
.navigation ul input::placeholder {
  color: #333333;
  padding: 0 0 0 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-transform: uppercase;
  opacity: 0.5;
}

.slikslider {
  position: relative;
  min-width: 0;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex-star;
      -ms-flex-align: flex-star;
          align-items: flex-star;
  position: relative;
}

.slick-slide.slick-active {
  position: relative;
}

.slikslider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 40px;
  height: 65px;
  border: none;
  margin: -37.5px 0 0 0;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.slikslider .slick-arrow.slick-prev {
  left: 60px;
  background: url("../images/arrow-prev1.png") 0 0/100% no-repeat;
  z-index: 10;
  opacity: 0.3;
}
.slikslider .slick-arrow.slick-prev:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.slikslider .slick-arrow.slick-next {
  right: 60px;
  background: url("../images/arrow-next.png") 0 0/100% no-repeat;
  z-index: 10;
  opacity: 0.3;
}
.slikslider .slick-arrow.slick-next:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.slikslider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 50px;
  z-index: 10;
  left: 48.2%;
}
.slikslider .slick-dots.slick-dots li {
  margin: 0 7px 0 0;
}
.slikslider .slick-dots.slick-dots button {
  font-size: 0;
  widows: 12px;
  height: 12px;
  background-color: #704e43;
  border: none;
}
.slikslider .slick-dots li.slick-active button {
  background-color: #f4754e;
}

.slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slider_item {
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
  z-index: 1;
}
.slider_item.slick-active {
  z-index: 0;
}
.slider_item img {
  width: 100%;
  height: 650px;
}

.bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 650px;
  background-color: black;
  opacity: 0.6;
  z-index: 1;
}

.sliderbg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
  width: 918px;
  position: absolute;
  left: 26.21%;
  top: 180px;
  z-index: 10;
}

h2 {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #9d9d9d;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
}

h1 {
  font-family: "OpenSans", sans-serif;
  font-size: 42px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  padding: 0 70px 0 70px;
  text-transform: uppercase;
  line-height: 47px;
  letter-spacing: 2px;
}

.ditals {
  display: block;
  position: absolute;
  width: 150px;
  height: 50px;
  bottom: -100%;
  background-color: #f4754e;
  border-radius: 3px;
}
.ditals a {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  position: absolute;
  top: 13px;
  left: 13px;
}

#about {
  position: relative;
  display: block;
  height: 435px;
}
#about .layout {
  width: 1100px;
  max-width: 1100px;
}
#about .onicebar {
  position: relative;
  margin: 90px 0 46px 0;
}
#about .onicebar h1 {
  font-family: "OpenSans", sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: #272727;
  letter-spacing: normal;
}
#about .onicebar:after {
  content: "";
  position: absolute;
  height: 5px;
  width: 100px;
  background-color: #f4754e;
  left: 50%;
  left: calc(50% - 50px);
}
#about .circle {
  display: block;
  height: 80px;
  width: 80px;
  background-color: #f4754e;
  border-radius: 50%;
  position: relative;
  margin-right: 14px;
}
#about .circle i {
  font-size: 40px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 20px;
}
#about h2 {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #f4754e;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
  display: inline;
  line-height: 30px;
}
#about p {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  text-align: left;
  position: relative;
  line-height: 22px;
}
#about .onicebar {
  position: relative;
  margin-bottom: 46px;
}
#about .onicebar h1 {
  font-family: "OpenSans", sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: #272727;
  letter-spacing: normal;
}
#about .onicebar:after {
  content: "";
  position: absolute;
  height: 5px;
  width: 100px;
  background-color: #f4754e;
  left: 50%;
  left: calc(50% - 50px);
}
#about .left {
  display: block;
  float: left;
  position: relative;
  width: 51%;
}
#about .left .blok {
  display: block;
  position: relative;
  width: 85%;
  height: 80px;
  margin-bottom: 57px;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  border-radius: 50px 5px 5px 50px;
}
#about .left .blok:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  -webkit-animation: move 0.5s linear infinite 0s alternate;
          animation: move 0.5s linear infinite 0s alternate;
}
@-webkit-keyframes move {
  0% {
    background: linear-gradient(315deg, #e89a02 3%, #a9842d 13%, #f2f2f2 75%);
  }
  15% {
    background: linear-gradient(315deg, #e89a02 3%, #a9842d 26%, #f2f2f2 75%);
  }
  30% {
    background: linear-gradient(315deg, #e89a02 3%, #a9842d 25%, #f2f2f2 75%);
  }
  45% {
    background: linear-gradient(315deg, #e89a02 3%, #a9842d 37%, #f2f2f2 75%);
  }
  60% {
    background: linear-gradient(315deg, #e89a02 3%, #a9842d 54%, #f2f2f2 75%);
  }
  80% {
    background: linear-gradient(315deg, #e89a02 34%, #a9842d 68%, #f2f2f2 75%);
  }
  100% {
    background: linear-gradient(315deg, #e89a02 34%, #a9842d 73%, #f2f2f2 89%);
  }
}
@keyframes move {
  0% {
    background: -o-linear-gradient(135deg, #e89a02 3%, #a9842d 13%, #f2f2f2 75%);
    background: linear-gradient(315deg, #e89a02 3%, #a9842d 13%, #f2f2f2 75%);
  }
  15% {
    background: -o-linear-gradient(135deg, #e89a02 3%, #a9842d 26%, #f2f2f2 75%);
    background: linear-gradient(315deg, #e89a02 3%, #a9842d 26%, #f2f2f2 75%);
  }
  30% {
    background: -o-linear-gradient(135deg, #e89a02 3%, #a9842d 25%, #f2f2f2 75%);
    background: linear-gradient(315deg, #e89a02 3%, #a9842d 25%, #f2f2f2 75%);
  }
  45% {
    background: -o-linear-gradient(135deg, #e89a02 3%, #a9842d 37%, #f2f2f2 75%);
    background: linear-gradient(315deg, #e89a02 3%, #a9842d 37%, #f2f2f2 75%);
  }
  60% {
    background: -o-linear-gradient(135deg, #e89a02 3%, #a9842d 54%, #f2f2f2 75%);
    background: linear-gradient(315deg, #e89a02 3%, #a9842d 54%, #f2f2f2 75%);
  }
  80% {
    background: -o-linear-gradient(135deg, #e89a02 34%, #a9842d 68%, #f2f2f2 75%);
    background: linear-gradient(315deg, #e89a02 34%, #a9842d 68%, #f2f2f2 75%);
  }
  100% {
    background: -o-linear-gradient(135deg, #e89a02 34%, #a9842d 73%, #f2f2f2 89%);
    background: linear-gradient(315deg, #e89a02 34%, #a9842d 73%, #f2f2f2 89%);
  }
}
#about .left .blok:hover h2 {
  color: #fa420b;
}
#about .left .bloksleft {
  display: block;
  position: absolute;
  width: 80%;
  height: 100%;
  left: 95px;
  bottom: 8px;
}
#about .right {
  float: right;
  display: block;
  width: 47%;
}
#about .right .blokr {
  display: block;
  position: relative;
  width: 100%;
  height: 80px;
  margin-bottom: 57px;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  border-radius: 50px 5px 5px 50px;
}
#about .right .blokr:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  -webkit-animation: move 0.5s linear infinite 0s alternate;
          animation: move 0.5s linear infinite 0s alternate;
}
@keyframes move {
  0% {
    background: -o-linear-gradient(135deg, #e89a02 3%, #a9842d 13%, #f2f2f2 75%);
    background: linear-gradient(315deg, #e89a02 3%, #a9842d 13%, #f2f2f2 75%);
  }
  15% {
    background: -o-linear-gradient(135deg, #e89a02 3%, #a9842d 26%, #f2f2f2 75%);
    background: linear-gradient(315deg, #e89a02 3%, #a9842d 26%, #f2f2f2 75%);
  }
  30% {
    background: -o-linear-gradient(135deg, #e89a02 3%, #a9842d 25%, #f2f2f2 75%);
    background: linear-gradient(315deg, #e89a02 3%, #a9842d 25%, #f2f2f2 75%);
  }
  45% {
    background: -o-linear-gradient(135deg, #e89a02 3%, #a9842d 37%, #f2f2f2 75%);
    background: linear-gradient(315deg, #e89a02 3%, #a9842d 37%, #f2f2f2 75%);
  }
  60% {
    background: -o-linear-gradient(135deg, #e89a02 3%, #a9842d 54%, #f2f2f2 75%);
    background: linear-gradient(315deg, #e89a02 3%, #a9842d 54%, #f2f2f2 75%);
  }
  80% {
    background: -o-linear-gradient(135deg, #e89a02 34%, #a9842d 68%, #f2f2f2 75%);
    background: linear-gradient(315deg, #e89a02 34%, #a9842d 68%, #f2f2f2 75%);
  }
  100% {
    background: -o-linear-gradient(135deg, #e89a02 34%, #a9842d 73%, #f2f2f2 89%);
    background: linear-gradient(315deg, #e89a02 34%, #a9842d 73%, #f2f2f2 89%);
  }
}
#about .right .blokr:hover h2 {
  color: #fa420b;
}
#about .right .blokright {
  display: block;
  position: absolute;
  width: 445px;
  height: 60px;
  left: 95px;
  bottom: 27px;
}

#reservation {
  display: block;
  position: relative;
  width: 100%;
  height: 300px;
}

.pic {
  display: block;
  position: relative;
}

.pic img {
  width: 100%;
  height: 300px;
  position: relative;
  display: block;
  margin-top: 100px;
}

.bgr {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 2;
  bottom: 0;
  opacity: 0.6;
}

.banerr h2 {
  font-family: "OpenSans", sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: #babcbc;
  letter-spacing: normal;
  display: block;
  margin-top: 115px;
  text-align: center;
}

.iconr {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  widows: 100%;
  height: 40px;
  margin-top: 57px;
}
.iconr ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 175px;
}
.iconr li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.iconr li i {
  color: #babcbc;
  font-size: 20px;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.iconr i:hover {
  overflow: visible;
  color: #f4754e;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}
.iconr:before {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: #babcbc;
  position: absolute;
  margin-top: -24px;
}

#menu {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 90px;
}

.layout {
  max-width: 1100px;
}

.banermenu h1 {
  display: block;
  position: relative;
  font-family: "OpenSans", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #000;
  letter-spacing: nornal;
}
.banermenu h1:after {
  content: "";
  width: 100px;
  height: 5px;
  background-color: #f4754e;
  display: block;
  position: absolute;
  left: calc( 50% - 50px);
}

.grid {
  margin-top: 85px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 30px 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.grid > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.grid > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.pazl {
  display: block;
  width: 350px;
  height: 250px;
}

.bgb {
  max-width: 350px;
  display: block;
  background-color: rgba(133, 163, 179, 0.7);
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
.bgb:hover {
  opacity: 1;
}
.bgb .bgo {
  display: block;
  background-color: rgba(245, 117, 79, 0.6);
  width: 317px;
  height: 227px;
  opacity: 1;
  z-index: 3;
  border: 1px solid #fff;
  position: relative;
  left: 18px;
  top: 12px;
}
.bgb .bgo h2 {
  font-family: "OpenSans", sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: #ffffff;
  opacity: 1;
  text-transform: capitalize;
  letter-spacing: normal;
  margin-top: 90px;
  text-align: center;
}

.iconfild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 153px;
  height: 60px;
  margin: 26px 0 0 82px;
  position: relative;
}

.icon {
  display: block;
  height: 60px;
  width: 60px;
  border: 2px solid #fff;
  text-align: center;
  position: relative;
}
.icon i {
  color: #fff;
  font-size: 28px;
  position: relative;
  top: 16px;
  -webkit-transition: color 0.3s linear, -webkit-transform 0.5s ease;
  transition: color 0.3s linear, -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease, color 0.3s linear;
  transition: transform 0.5s ease, color 0.3s linear;
  transition: transform 0.5s ease, color 0.3s linear, -webkit-transform 0.5s ease;
}
.icon i:hover {
  -webkit-transform: scale(1.8);
      -ms-transform: scale(1.8);
          transform: scale(1.8);
  color: #000000;
}

.pazl1 {
  background-image: url("../images/img_menufoto1.png");
}

.pazl2 {
  background-image: url("../images/img_menufoto2.png");
}

.pazl3 {
  background-image: url("../images/img_menufoto3.png");
}

.pazl4 {
  background-image: url("../images/img_menufoto4.png");
}

.pazl5 {
  background-image: url("../images/img_menufoto5.png");
}

.pazl6 {
  background-image: url("../images/img_menufoto6.png");
}

#nutrition {
  display: block;
  position: relative;
  background: url("../images/img_7.png") 78% 5% no-repeat;
}

.layout {
  width: 1100px;
}

.nutritionbaner {
  display: block;
  position: relative;
  margin-top: 110px;
}
.nutritionbaner h1 {
  display: block;
  position: relative;
  font-family: "OpenSans", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #000;
  letter-spacing: nornal;
  text-transform: uppercase;
}
.nutritionbaner h1:after {
  content: "";
  width: 100px;
  height: 5px;
  background-color: #f4754e;
  display: block;
  position: absolute;
  left: calc( 50% - 50px);
}
.nutritionbaner p {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  text-align: center;
  width: 40%;
  margin-left: calc(50% - 220px);
  margin-top: 40px;
}

.bloklist {
  display: block;
  position: relative;
}

.listoll {
  display: block;
  position: relative;
  margin-top: 60px;
}
.listoll h2 {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  text-align: left;
  margin-bottom: 21px;
  text-transform: uppercase;
  letter-spacing: normal;
}
.listoll p {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  text-align: left;
}

.cerkl {
  display: block;
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #f4754e;
}
.cerkl span {
  font-family: "OpenSans", sans-serif;
  font-size: 38px;
  font-weight: 700;
  color: #ffffff;
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  text-align: center;
  margin-top: 20px;
}

.listelement {
  display: block;
  position: relative;
  margin-bottom: 140px;
  -webkit-transition: margin-left 0.5s ease-in, -webkit-transform 0.5s ease-in;
  transition: margin-left 0.5s ease-in, -webkit-transform 0.5s ease-in;
  -o-transition: transform 0.5s ease-in, margin-left 0.5s ease-in;
  transition: transform 0.5s ease-in, margin-left 0.5s ease-in;
  transition: transform 0.5s ease-in, margin-left 0.5s ease-in, -webkit-transform 0.5s ease-in;
}
.listelement:hover {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  margin-left: -10px;
}

.listelement1 {
  width: 370px;
  margin-left: 122px;
}

.listelement2 {
  width: 567px;
}

.listelement3 {
  margin-left: 122px;
  width: 300px;
}

.listelement4 {
  margin-left: 242px;
  width: 450px;
}

.description {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 96px;
  bottom: 0%;
}

footer {
  display: block;
  width: 100%;
  margin: 0 0 0;
  padding: 0 0 0;
}