/* Brand Colors ------------------------------------------------*/

	
	$color1: #f4754e; 
	$font-color1: #333333;
	$font-color2: #ffffff;
	$color2: #272727;

	$placeholder: $color2;

	$base-font-weight: 300;
	$brand-font-1: 'Roboto',sans-serif;
	$brand-font-2: 'OpenSans',sans-serif;
