header {	
	width:100%;
	display:block;
	position:relative;}
// Верхняя часть header
.iconstop {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	widows: 100%;
	height: 40px;
	border-bottom: 2px solid #dad5d5;       
		ul {
		 display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
		height: 100%;
		padding-right: 15%;
		
		}
		li{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;			
				i{			
			color: #333333;
			opacity: 0.5;
			font-size: 20px;
			transition-duration: 0.5s;
		}

		}
		i:hover{ 
			overflow: visible; 
			color: $color1;
			opacity: 1;
			transform: scale(2.0);
		}
}
 // нижняя часть header/ в последствии добавить меню бургер        
.navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between; 
	.logo {
			padding-left: 16.85%;
			height: 80px;
			display: flex;
			align-items: center;
				}
		ul{	
		display: flex;
		flex-direction: row;
		width: 50%;
		height: 80px;
			li{	
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: nowrap;
				position: relative;
				}
				a{
					@include font ($brand-font-2,18px,bold, black);
					font-size: 18px;
					text-transform: uppercase;
					flex-wrap: nowrap;
					}
					a:hover{
						color: $color1;
					}
					.search {
						display: flex;
					}
					i{
						display: flex;
						justify-content: flex-start;
						width: 25px;
					}
					.search-1 {

					}
				} 
			}   
