#nutrition{
	display: block;
	position: relative;
	background: url('../images/img_7.png')78% 5% no-repeat;
	
}
.layout {
	width: 1100px;
}
.nutritionbaner {
	display: block;
	position: relative;
	margin-top: 110px;
	h1{
		display: block;
	position: relative;
	@include font($brand-font-2,26px,700,#000);
	letter-spacing: nornal;
	text-transform: uppercase;
	&:after{
		content: '';
		width: 100px;
		height: 5px;
		background-color: $color1;
		display: block;
		position: absolute;
		left:calc( 50% - 50px);
		}
			}
			p{
			@include font($brand-font-2,16px,400,#000);
			text-align: center;
			width: 40%;
			margin-left: calc(50% - 220px);
			margin-top: 40px;
			
		}
}
.bloklist {display: block;
position: relative;}

.listoll {
	display: block;
	position: relative;
	margin-top: 60px;
	
			& h2{@include font($brand-font-2,16px,700,#000);
						text-align: left;
						margin-bottom: 21px;
						text-transform: uppercase;
						letter-spacing: normal;}
      & p{@include font($brand-font-2,16px,400,#000);
						text-align: left;}
		
}


.cerkl {
	display: block;
	position: relative;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background-color: $color1;
	& span{
		@include font($brand-font-2,38px,700,#ffffff);
		display: inline-block;
		position: absolute;
		width: 80px;
		height: 80px;
		text-align: center;
		margin-top: 20px; 
	}
}

.listelement{
	display: block;
	position: relative;
	margin-bottom: 140px;
	transition:transform 0.5s ease-in, margin-left 0.5s ease-in;
		&:hover{
			transform: scale(1.5);
			margin-left: -10px;}
			}

.listelement1 {	
	width:370px;
	margin-left: 122px;	
	}
	.listelement2{
		width: 567px;		
	}
	.listelement3{
		margin-left: 122px;
		width: 300px;
	}
.listelement4{
	margin-left: 242px;
	width: 450px;
}
.description{
display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 96px;
	bottom: 0%;}



