// слайдер
.slick-slider{}
// ограничивающия оболочька
.slick-list{}
// лента слайдов
.slick-track{	
}
// слайд
.slik-slide{}
// слайд активный
.slick-slide.slick-active{}
// слайд основной
.slick-slide.slick-current{}
// слайд по центру
.slick-slide.slick-center{}
// стрелка
.slick-arrow{}
// стрелка влево
.slick-arrow.slick-prev{}
// стрелка вправо
.slick-arrow.slick-next{}
// стрелка не активна
.slick-arrow.slick-disabled{}
// точки
.slick-dots{}
.slick-dots li{}
.slick-dots button{}

.slikslider{
	position: relative;
	min-width: 0;
	
	}
.slick-track{
	display: flex;
	align-items: flex-start;
	position: relative;
	
}
.slick-slide.slick-active{
	position: relative;	
}
.slikslider .slick-arrow{
		position: absolute;
		top:50%;
		z-index: 10;
		font-size: 0;
		width:40px;
		height: 65px;
		border: none;
		margin: -37.5px 0 0 0;
		transition-duration: 0.5s;
		&.slick-prev{
			left: 60px;  
			background: url('../images/arrow-prev1.png') 0 0 / 100% no-repeat;
			z-index: 10;
			opacity: 0.3;
			&:hover{
					opacity: 1;
					transform: scale(1.2);
				}
			
		}
			&.slick-next{
				right: 60px;
				background: url('../images/arrow-next.png') 0 0 / 100% no-repeat;
				z-index: 10;
				opacity: 0.3;
				&:hover{
					opacity: 1;
					transform: scale(1.2);
				}
		}		
}
.slikslider .slick-dots{
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			bottom: 50px;
			z-index: 10;
			left: calc(50% - 44px);
			
		&.slick-dots li{
				margin: 0 7px 0 0;}				
		&.slick-dots button{
			font-size: 0;
			width: 12px;
			height: 12px;
			background-color: #704e43;		
			border: none;}			
		& li.slick-active button{
			background-color: $color1;}
}	
.slick-list{
	position: relative;
	overflow: hidden;
	width: 100%;
}
	.slider_item{
		position: relative;
		transition: all 0.3s ease 0s;
		text-align: center;
		z-index: 1;		
			&.slick-active{
				z-index: 0}
			& 	img{
				width: 100%;
				height: 650px;
				}	
	}
	.bg{
		position: absolute;
		top: 0;
		width: 100%;
		height: 650px;
		background-color: black;
		opacity: 0.6;
		z-index: 1;
	}
.sliderbg{
	display: flex;
	justify-content: center;
	height: 150px;
	width: 918px;
	position: absolute;
	left: 26.21%;
	top: 180px;
z-index: 10;
}
h2{	
	@include font($brand-font-2,16px,400,#9d9d9d);
	text-align: center;
	letter-spacing: 4px;
	text-transform: uppercase;
	}
	h1{
		@include font($brand-font-2,42px,bold,$font-color2);
		text-align: center;
		padding: 0 70px 0 70px;
		text-transform: uppercase;
		line-height: 47px;
		letter-spacing: 2px;
	}

.ditals {
	display: block;
	position: absolute;
	width:150px;
	height: 50px;
	bottom: -100%;
	background-color: $color1;
	border-radius: 3px;
	margin-left: 0;
	
	a{
		@include font($brand-font-1,20px,400,$font-color2);
		text-transform: uppercase;
		letter-spacing: 0.5px;
		position: absolute;
		top: 13px;
		left: 13px;
	}
}
	
